# Ignore all files (because of binaries with no file extensions)
*

# Unignore all files with extensions and all directories
!*.*
!*/

# Ignore object files
*.o

# Ignore files created by the IDE (probably im not sure tho)
*.swp
